on:
  push:
    branches: [main, test-ci]
  pull_request:
    branches: [main]
name: Tests
jobs:
  tests:
    name: Tests
    runs-on: ubuntu-24.04
    steps:
      - uses: dtolnay/rust-toolchain@stable
      - name: install deps
        run: |
          sudo apt update
          sudo apt install \
            nasm cmake protobuf-compiler libxkbcommon-dev libwayland-dev libasound2-dev \
            ffmpeg libavutil-dev libavformat-dev libavdevice-dev libavfilter-dev \
            libfontconfig-dev libfreetype-dev libudev-dev

      - uses: actions/checkout@v4
      - uses: ./.github/actions/install-slang
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          target: linux-x86_64
          version: v2024.14.5

      - uses: swatinem/rust-cache@v2
        with:
          workspaces: |
            mm-server
            mm-client
            mm-protocol

      - name: install deny
        run: cargo install deny

      - name: server tests
        run: |
          export CARGO_TARGET_X86_64_UNKNOWN_LINUX_GNU_RUNNER='sudo -E'
          (cd mm-server && cargo test -- --test-threads=1)
      - name: server deny
        run: (cd mm-server && cargo deny check)
      - name: protocol tests
        run: (cd mm-protocol && cargo test)
      - name: client tests
        run: (cd mm-client && cargo test)
      - name: server cargo clippy
        run: (cd mm-server && cargo clippy)
      - name: protocol cargo clippy
        run: (cd mm-protocol && cargo clippy)
      - name: client cargo clippy
        run: (cd mm-client && cargo clippy)


